<div class="messages">
    <div class="container">
        <% @messages.each do |message| %>
            <p class="content">
                <%= message.content %>
            </p>
            <p class="time">
                <%= message.created_at %>
            </p>    
        <% end %>
        <%= link_to 'New Message', "messages/new" %>
    </div>
</div>